body {
	font-family: 'Roboto', sans-serif;
}

#show_entries, #user_book {
	color: #fff;
}

.intro { 
	color:#fff; 
	text-decoration: none;
}

.intro img {
	/*width: 100%;*/
}

.fixed-height {
	height: 40px;
}

.login, .admin-login, .message, .slots{
	width: 30%;
	min-width: 300px;
	margin: auto;
}

.admin{
	width: 60%;	
	min-width: 300px;
	margin: auto;	
}

#entries1 td, #entries2 td, #entries3 td, .entries td {
	border: 1px solid black;
	padding: 2px;
}

#entries1, #entries2, #entries3, .entries, #avail-slots {
	width: 100%;
}

.time-slot {
	width: 10%;
}

.first-name, .last-name {
	width: 15%;
}

.entry-no {
	width: 15%;
}

.email-id {
	width: 30%;
}

.mobile {
	width: 15%;
}

.countdown {
	width: 10%;
	min-width: 150px;
	margin: auto;
	background-color: #999;
	padding: 5px !important;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.centered {
	margin-top: 5vh;
}

.card {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

body {
	background-color: #eee;
}

.leaderboard {
	position: absolute;
	right: 0px;
	width: 25vw;
	height: 92vh;
	top: 50px;
	min-width: 150px;
	overflow: scroll;
}

#leader, #leader tr {
	width: 100%;
}

#leader tr td {
	/*width: 50%;*/
	padding: 5px;
	color: white;
}

.td1 {
	width: 60%;
	background-color: #f28f3b;
}

.td2 {
	width: 40%;
	background-color: #0b3142;
	text-align: center;
}

#que {
	font-size: 24px;
}

#question_text {
	font-size: 18px;
}

.options {
	margin-top: 5px;
	margin-bottom: 5px;
}

.book-slot {
	width: 40%;
	margin: 5px 5%;
}